* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
@font-face {
  font-family: open-sans-regular;
  src: url(../fonts/openSans/OpenSans-Regular.ttf);
}
html,
body {
  font-family: open-sans-regular;
}

.navbarBackground {
  background-color: #101524;
}
.container {
  width: 1000px;
  margin: auto;
}
.container .navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container nav a {
  color: #cecdcd;
  display: inline-block;
  margin-left: 25px;
}
.container nav .active {
  color: white;
  font-weight: 700;
}
.container nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin-inline: auto;
  background-color: #cecdcd;
  border-radius: 15px;
  margin-top: 5px;
  transition: 0.5s;
}
.container nav .active::after {
  width: 100%;
}
.container nav a:hover {
  color: white;
  font-weight: 700;
}
.container nav a:hover::after {
  width: 100%;
}
/* navbar css end */

.banner-info {
  text-align: center;
  background: url(../images/aboutBanner.png) no-repeat center;
  background-size: cover;
}
.banner-info h1 {
  color: white;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 1px;
}
.banner-info p {
  margin-top: 40px;
  color: #dfdfdf;
  letter-spacing: 0.5px;
  font-size: 14px;
}
.banner-info .container {
  padding: 100px 0;
}
/* header style end */

.about-section {
  padding: 60px 0;
}
.about-section h2 {
  font-size: 24px;
  text-align: center;
}
.about-section ul {
  margin-top: 40px;
  list-style-type: none;
  font-size: 14px;
  color: #3a4e50;
  line-height: 25px;
}
.about-section li {
  margin-bottom: 15px;
}

/* about-section end */

.footer {
  background-color: #f9f9f9;
  padding-top: 30px;
}
.footer .container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-box1 {
  width: 40%;
  font-size: 12px;
  line-height: 24px;
  color: #0c101a;
}
.footer-box1 p {
  margin: 10px 0;
  width: 75%;
}
.footer-box1 a {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #0c101a;
}
.footer-box2 {
  width: 15%;
}
.footer-box2 ul,
.footer-box3 ul {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #373f41;
}
.footer-box3 {
  width: 15%;
}
.footer-box4 {
  width: 15%;
}
.footer ul {
  list-style-type: none;
}
.footer h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #0c101a;
}
.footer-box4 a {
  display: inline-block;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #e6e6e7;
  margin-right: 7px;
}
.footer-box5 {
  padding: 25px 0;
  width: 100%;
  border-top: 1px solid #e6e6e7;
  margin-top: 20px;
  font-size: 12px;
}

/* about footer end */
