.about-section {
  padding: 60px 0;
}
.about-section h2 {
  font-size: 24px;
  text-align: center;
}
.about-section ul {
  margin-top: 40px;
  list-style-type: none;
  font-size: 14px;
  color: #3a4e50;
  line-height: 25px;
}
.about-section li {
  margin-bottom: 15px;
}

/* about-section end */
