* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
}
@font-face {
  font-family: open-sans-regular;
  src: url(../fonts/openSans/OpenSans-Regular.ttf);
}
html,
body {
  font-family: open-sans-regular;
}

header {
  background: url(../images/banner.png) no-repeat center;
  background-size: cover;
}
.container {
  width: 1000px;
  margin: auto;
}
.container .navbar {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container nav a {
  color: #cecdcd;
  display: inline-block;
  margin-left: 25px;
}
.container nav .active {
  color: white;
  font-weight: 700;
}
.container nav a::after {
  content: "";
  width: 0%;
  height: 3px;
  display: block;
  margin-inline: auto;
  background-color: #cecdcd;
  border-radius: 15px;
  margin-top: 5px;
  transition: 0.5s;
}
.container nav .active::after {
  width: 100%;
}
.container nav a:hover {
  color: white;
  font-weight: 700;
}
.container nav a:hover::after {
  width: 100%;
}
/* navbar css end */
.bannerInfo {
  padding: 80px 0;
  color: white;
  width: 65%;
  font-weight: 700;
  line-height: 40px;
}
.bannerTitle {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 2px;
  opacity: 0.4;
}
.bannerDescription {
  font-size: 24px;
  margin: 20px 0 30px;
}
.BTN {
  display: inline-block;
  background-color: #0193dc;
  color: white;
  padding: 7px 40px;
  border-radius: 5px;
  letter-spacing: 0.7px;
}
/* header end */

.section1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
}
.section1-left {
  width: 40%;
}
.section1-left img {
  width: 90%;
}
.section1-right {
  width: 58%;
}
.section1-title {
  width: 80%;
  font-size: 25px;
  color: #0c101a;
  letter-spacing: 1px;
}
.section1-description {
  font-size: 14px;
  color: #919fae;
  margin: 20px 0;
  line-height: 25px;
  letter-spacing: 0.7px;
}
.section1 .BTN {
  padding: 10px 40px;
}

.section2 {
  background-color: #f9fbfd;
  padding: 30px 0;
}
.section2 .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.section2-left {
  padding: 60px 0;
  width: 42%;
  border-right: 1px solid #f4f6f5;
}
.section2-left h2 {
  font-size: 24px;
  letter-spacing: 1px;
}
.section2-left p {
  width: 85%;
  line-height: 25px;
  color: #919fae;
  font-size: 14px;
  margin: 15px 0 25px;
}
.section2-right {
  width: 55%;
  display: flex;
  justify-content: space-between;
  gap: 30px;
  flex-wrap: wrap;
}
.section2-right-box {
  background-color: white;
  padding: 30px 20px;
  width: 45%;
  letter-spacing: 0.5px;
  line-height: 20px;
  box-shadow: 0 2px 4px 0 rgba(137, 133, 133, 0.1),
    0 3px 10px 0 rgba(150, 146, 146, 0.19);
}
.section2-right-box h3 {
  font-size: 20px;
  margin-top: 10px;
}
.section2-right-box p {
  font-size: 13px;
  color: #919fae;
  margin: 15px 0;
}
/* section2 css end */

.section3 {
  padding: 30px 0 50px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section3-title {
  width: 100%;
  padding: 50px 0 40px;
  display: flex;
  align-items: center;
  font-size: 24px;
  letter-spacing: 0.5px;
}
.section3-title input {
  background-color: #f6f7f9;
  padding: 0 20px;
  height: 40px;
  border: none;
  width: 250px;
  margin-left: 40px;
  border-radius: 5px;
}
.section3-left {
  border-right: 1px solid #f4f6f5;
  width: 60%;
  padding-right: 20px;
}
.section3-left-box {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  line-height: 22px;
  margin-bottom: 15px;
}
.left-box-img img {
  border-radius: 4px;
}
.left-box-info h3 {
  font-size: 16px;
  letter-spacing: 0.3px;
}
.left-box-info p {
  margin: 15px 0;
  font-size: 12px;
  color: #919fae;
}
.left-box-footer {
  display: flex;
  align-items: center;
}
.left-box-footer p {
  width: 80%;
}
.left-box-footer img {
  width: 22px;
}
/* section3 left end */

.section3-right {
  width: 37%;
}
.section3-right-box {
  margin-bottom: 20px;
  display: flex;
  gap: 15px;
  justify-content: space-between;
}
.right-box-info {
  line-height: 25px;
  width: 75%;
}
.right-box-info p {
  font-size: 14px;
  color: #919fae;
}
.right-box-info h3 {
  font-size: 16px;
}
.right-box-icon {
  width: 22px;
}
/* section3 end */

.section4 {
  background-color: #f9fbfd;
  padding: 70px 0;
}
.section4-title {
  font-size: 24px;
  margin-bottom: 25px;
}
.section4-boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: space-between;
}
.section4-box {
  width: 31%;
}
.section4-box img {
  width: 100%;
}
.section4-btn {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.section4-btn a {
  display: inline-block;
  background-color: #0193dc;
  width: 200px;
  padding: 10px 25px;
  color: white;
  text-align: center;
  font-weight: 700;
  border-radius: 4px;
  font-size: 14px;
}
/* section4 style end */

.footer {
  background-color: #f9f9f9;
  padding-top: 30px;
  margin-top: 50px;
}
.footer .container {
  padding-top: 30px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.footer-box1 {
  width: 40%;
  font-size: 12px;
  line-height: 24px;
  color: #0c101a;
}
.footer-box1 p {
  margin: 10px 0;
  width: 75%;
}
.footer-box1 a {
  display: block;
  font-weight: 700;
  font-size: 12px;
  color: #0c101a;
}
.footer-box2 {
  width: 15%;
}
.footer-box2 ul,
.footer-box3 ul {
  font-size: 14px;
  font-weight: 700;
  line-height: 30px;
  color: #373f41;
}
.footer-box3 {
  width: 15%;
}
.footer-box4 {
  width: 15%;
}
.footer ul {
  list-style-type: none;
}
.footer h3 {
  margin-bottom: 15px;
  font-size: 16px;
  color: #0c101a;
}
.footer-box4 a {
  display: inline-block;
  border-radius: 8px;
  padding: 5px 10px;
  border: 1px solid #e6e6e7;
  margin-right: 7px;
}
.footer-box5 {
  padding: 25px 0;
  width: 100%;
  border-top: 1px solid #e6e6e7;
  margin-top: 20px;
  font-size: 12px;
}
